<div class="ride">
    <a href="/users/<%=user.id%>"><li><%= user.username %></li></a>
    <p>Distance: <%= ride.distance %> miles</p>
    <p>Moving Time: <%= ride.time %> minutes</p>
    <p>Add a Description: <%= ride.mood %></p>
</div>
  
