<div class="ride">
    <a href="/users/<%=user.id%>"><li><%= user.username %></li></a>
    <p>Distance: <%= ride.distance %> miles</p>
    <p>Durantion: <%= ride.time %> minutes</p>
    <p>Mood: <%= ride.mood %></p>
</div>
  
